<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/app.css"/>
    <title>Countries of the World</title>
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="/countries">Countries of the World</a></h1>
        </div>
    </header>
    <div class="container sort">
        sort by:<ul>
            <li th:class="'button ' + (${sortmethod == 'name'} ? 'sort-method' : '')"><a href="/countries/sort/name">name</a></li>
            <li th:class="'button ' + (${sortmethod == 'population'} ? 'sort-method' : '')"><a href="/countries/sort/population">population</a></li>
            <!-- I know I could do this more dynamically, but with only a few pieces of data to sort with and with such
            a small repository, there is no point -->
        </ul>
    </div>
    <div class="container countries">
        <!-- begin country iteration -->
        <div class="country" th:each="country : ${countries}">
            <a th:href="'/countries/' + ${country.name}">
                <img th:src="'/flags/' + ${country.name} + '.png'" th:alt="'Flag of ' + ${country.name}"/>
                <h4 th:text="${country.name}">Country Name</h4>
                <p th:text="'pop: ' + ${country.populationText}">population</p>
            </a>
        </div>
        <!-- end country iteration -->
    </div>
</body>
</html>